<div class="container">
  <ion-card (click)="openModal(character)" *ngFor="let character of characters">
    <img alt="{{ character.name }}" src="{{ character.image }}" />

    <ion-card-header>
      <ion-card-title>{{ character.name }}</ion-card-title>
      <ion-card-subtitle>Characters Found</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>Character Location</p>
      <p *ngIf="character.location">Longitude: {{ character.location.longitude }}</p>
      <p *ngIf="character.location">Latitude: {{ character.location.latitude }}</p>
      <p *ngIf="!character.location">Location not available</p>
    </ion-card-content>
  </ion-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="scan()" [disabled]="!isSupported">
      <ion-icon name="scan"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>
