<div class="container">
  <ion-card (click)="openModal(character)" *ngFor="let character of characters">
    <img alt="{{ character.name }}" src="{{ character.image }}" />

    <ion-card-header>
      <ion-card-title>{{ character.name }}</ion-card-title>
      <ion-card-subtitle>Found Characters</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>Ubicación del Personaje</p>
      <p *ngIf="character.ubicacion">Longitud: {{ character.ubicacion.lng }}</p>
      <p *ngIf="character.ubicacion">Latitud: {{ character.ubicacion.lat }}</p>
      <p *ngIf="!character.ubicacion">Ubicación no disponible</p>
    </ion-card-content>
  </ion-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="scan()" [disabled]="!isSupported">
      <ion-icon name="scan"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>
