<div *ngIf="characters" class="container">
  <ion-content>
    <ion-card id="card">
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let character of characters">
            <ion-thumbnail slot="start">
              <img
                alt="Character image"
                [src]="character.image"
                (click)="openModal(character)"
                class="pointer-content"
              />
            </ion-thumbnail>
            <ion-label (click)="openCharacter(character.id)">
              <h2>{{ character.name }}</h2>
              <p>{{ character.species }}</p>
            </ion-label>
            <ion-button (click)="addFavoriteCharacter(character)">
              <ion-icon name="bookmark"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
        <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
          <ion-infinite-scroll-content
            loadingText="Loading..."
            loadingSpinner="bubbles"
          >
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-card-content>
    </ion-card>
  </ion-content>
</div>
