.container {
  height: 75vh;
  width: 95%;
  margin: 0 auto;
  overflow: auto;
}

.arrow {
  font-size: 24px;
  color: #666;
  cursor: pointer;
  margin-top: -30px;
  margin-left: auto;
}

.pointer-content {
  cursor: pointer;
}