<div *ngIf="favoriteCharacters.length > 0" class="container">
  <ion-card id="card">
    <ion-card-content class="scroll-content">
      <ion-list>
        <ion-item *ngFor="let character of favoriteCharacters">
          <ion-thumbnail slot="start">
            <img alt="Character image" src="{{ character.image }}" />
          </ion-thumbnail>
          <ion-label>
            <h2>
              {{ character.name }}
            </h2>
            <p>
              {{ character.species }}
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</div>
